{ "hasMalops" : false, "timestamp": "__time_token__000", "hasSuspicions": false, "guid": "0.592754669796878634", "malop_guid": "11.-8126442534644752497", "elementType": "User", "name": "__user_token__"}
{ "hasMalops" : false, "timestamp": "__time_token__000", "hasSuspicions": false, "guid": "0.6055102763175580273", "malop_guid": "11.-8126442534644752497", "elementType": "User", "name": "__user_token__"}
{ "hasMalops" : false, "timestamp": "__time_token__000", "hasSuspicions": false, "guid": "0.-6459158844562618038", "malop_guid": "11.8014382457830989680", "elementType": "User", "name": "__user_token__"}
{ "hasMalops" : false, "timestamp": "__time_token__000", "hasSuspicions": false, "guid": "0.3330464567772320161", "malop_guid": "11.2077595577554015960", "elementType": "User", "name": "__user_token__"}
{ "hasMalops" : false, "timestamp": "__time_token__000", "hasSuspicions": false, "guid": "0.-8227425418838517739", "malop_guid": "11.8371241992421952627", "elementType": "User", "name": "__user_token__"}
{ "hasMalops" : false, "timestamp": "__time_token__000", "hasSuspicions": false, "guid": "0.2863452164889060445", "malop_guid": "11.8209033240500996584", "elementType": "User", "name": "__user_token__"}
{ "hasMalops" : false, "timestamp": "__time_token__000", "hasSuspicions": false, "guid": "0.-7757574050679606396", "malop_guid": "11.-3037856372579256437", "elementType": "User", "name": "__user_token__"}