{ "hasMalops" : false, "timestamp": "__time_token__000", "hasSuspicions": false, "guid": "296476205.1198775089551518743", "malop_guid": "11.-8126442534644752497", "elementType": "Machine", "name": "__machine_token__"}
{ "hasMalops" : false, "timestamp": "__time_token__000", "hasSuspicions": false, "guid": "468493598.1198775089551518743", "malop_guid": "11.-8126442534644752497", "elementType": "Machine", "name": "__machine_token__"}
{ "hasMalops" : false, "timestamp": "__time_token__000", "hasSuspicions": false, "guid": "-1256852539.1198775089551518743", "malop_guid": "11.4574499614715294941", "elementType": "Machine", "name": "__machine_token__"}
{ "hasMalops" : false, "timestamp": "__time_token__000", "hasSuspicions": false, "guid": "486890693.1198775089551518743", "malop_guid": "11.4574499614715294941", "elementType": "Machine", "name": "__machine_token__"}
{ "hasMalops" : false, "timestamp": "__time_token__000", "hasSuspicions": false, "guid": "-994969072.1198775089551518743", "malop_guid": "11.-4578339723083787564", "elementType": "Machine", "name": "__machine_token__"}
{ "hasMalops" : false, "timestamp": "__time_token__000", "hasSuspicions": false, "guid": "1330251008.1198775089551518743", "malop_guid": "11.-4578339723083787564", "elementType": "Machine", "name": "__machine_token__"}