{ "hasMalops" : false, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "0.-2242088100538409984", "malop_guid": "11.-8126442534644752497", "elementType": "DomainName", "name": "qzpmwxonecruv.dz"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "296476205.-4370106218031807622", "malop_guid": "11.8816125625950171232", "elementType": "Process", "name": "winps.dll (chain of injections)"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "468493598.-8540306375383906508", "malop_guid": "11.8816125625950171232", "elementType": "Process", "name": "winps.dll (chain of injections)"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "296476205.4341896915608122179", "malop_guid": "11.3026550392386231605", "elementType": "Process", "name": "wincalc.dll (chain of injections)"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "468493598.-288719080979277315", "malop_guid": "11.3026550392386231605", "elementType": "Process", "name": "wincalc.dll (chain of injections)"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "468493598.-1254998582944357413", "malop_guid": "11.-856150395850893399", "elementType": "Process", "name": "dga.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "296476205.-5229043624339949340", "malop_guid": "11.-856150395850893399", "elementType": "Process", "name": "dga.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "296476205.118955567069840128", "malop_guid": "11.8125117048716106699", "elementType": "Process", "name": "winnote.dll (injectionll.exe &gt; notepad.exe)"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "468493598.-4832395026354994709", "malop_guid": "11.8125117048716106699", "elementType": "Process", "name": "winnote.dll (injectionll.exe &gt; notepad.exe)"}
{ "hasMalops" : false, "timestamp": "__time_token__000", "hasSuspicions": false, "guid": "-1256852539.1525721379213076890", "malop_guid": "11.4574499614715294941", "elementType": "Process", "name": "psexesvc.exe"}
{ "hasMalops" : false, "timestamp": "__time_token__000", "hasSuspicions": false, "guid": "-1256852539.6968431081266738450", "malop_guid": "11.4574499614715294941", "elementType": "Process", "name": "psexesvc.exe"}
{ "hasMalops" : false, "timestamp": "__time_token__000", "hasSuspicions": false, "guid": "486890693.3201204585987003944", "malop_guid": "11.4574499614715294941", "elementType": "Process", "name": "psexesvc.exe"}
{ "hasMalops" : false, "timestamp": "__time_token__000", "hasSuspicions": false, "guid": "-1256852539.-1653257812786595638", "malop_guid": "11.4574499614715294941", "elementType": "Process", "name": "psexesvc.exe"}
{ "hasMalops" : false, "timestamp": "__time_token__000", "hasSuspicions": false, "guid": "486890693.4208701951832006859", "malop_guid": "11.4574499614715294941", "elementType": "Process", "name": "psexesvc.exe"}
{ "hasMalops" : false, "timestamp": "__time_token__000", "hasSuspicions": false, "guid": "486890693.-6571111369882081240", "malop_guid": "11.4574499614715294941", "elementType": "Process", "name": "psexesvc.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "1330251008.-7094929968832897521", "malop_guid": "11.-4578339723083787564", "elementType": "Process", "name": "injected (powershell.exe &gt; firefox.exe)"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.-5478508032358612019", "malop_guid": "11.-4578339723083787564", "elementType": "Process", "name": "injected (powershell.exe &gt; firefox.exe)"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "1330251008.78251349646410731", "malop_guid": "11.-4578339723083787564", "elementType": "Process", "name": "injected (powershell.exe &gt; firefox.exe)"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.3395761715581854806", "malop_guid": "11.-4578339723083787564", "elementType": "Process", "name": "injected (powershell.exe &gt; firefox.exe)"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.7583795750668334318", "malop_guid": "11.-4578339723083787564", "elementType": "Process", "name": "injected (powershell.exe &gt; firefox.exe)"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "1330251008.6919947175236569739", "malop_guid": "11.-4578339723083787564", "elementType": "Process", "name": "injected (powershell.exe &gt; firefox.exe)"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-1256852539.4768783181540602198", "malop_guid": "11.8014382457830989680", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-1256852539.-7891917031673818991", "malop_guid": "11.8014382457830989680", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-1256852539.-1902251084638256830", "malop_guid": "11.8014382457830989680", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "1330251008.-193396227977738890", "malop_guid": "11.2077595577554015960", "elementType": "Process", "name": "cmd.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "1330251008.6704021269006941150", "malop_guid": "11.2077595577554015960", "elementType": "Process", "name": "cmd.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "1330251008.-3834902335961127156", "malop_guid": "11.2077595577554015960", "elementType": "Process", "name": "cmd.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.6051172901940363652", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.-4406445977492534079", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-1256852539.-2492371746427221371", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.-2808381394246607572", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "1330251008.-2556976028468467638", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "486890693.5641306892866070025", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "468493598.-6701134821657834722", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "1330251008.-5865774251636410262", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "1330251008.-6257485270856591358", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.-6496903833511317163", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.6261335109859439556", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.-1517391405669432868", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "486890693.-4680609326592606793", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.-236608399135735662", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-1256852539.-7715663193676919267", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-1256852539.-2851318259949367091", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.4017840807468896366", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.6581015265532807250", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-1256852539.6780364127246632099", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.-247608141546934228", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "486890693.-3297620648590778138", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-1256852539.1874322806556559043", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "1330251008.-8832831698227862031", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-1256852539.-9010153499710145455", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "468493598.8826062698035857627", "malop_guid": "11.-2933662307256528993", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "296476205.1232906738305522922", "malop_guid": "11.-2933662307256528993", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "468493598.-4008122131947270083", "malop_guid": "11.-2933662307256528993", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "1330251008.5702820295047570185", "malop_guid": "11.-5914218308645319479", "elementType": "Process", "name": "excel.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.1949126135695428391", "malop_guid": "11.-5914218308645319479", "elementType": "Process", "name": "excel.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.-2576280049046545151", "malop_guid": "11.-5914218308645319479", "elementType": "Process", "name": "excel.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.-1252675694299608015", "malop_guid": "11.-5914218308645319479", "elementType": "Process", "name": "excel.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "1330251008.5578665288192226680", "malop_guid": "11.-5914218308645319479", "elementType": "Process", "name": "excel.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "1330251008.6599483762655772969", "malop_guid": "11.-5914218308645319479", "elementType": "Process", "name": "excel.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.-5028915936573287237", "malop_guid": "11.-5914218308645319479", "elementType": "Process", "name": "excel.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.189161302799239380", "malop_guid": "11.-5914218308645319479", "elementType": "Process", "name": "excel.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.-4173037506294775973", "malop_guid": "11.-5914218308645319479", "elementType": "Process", "name": "excel.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.-5054133464990858544", "malop_guid": "11.-5914218308645319479", "elementType": "Process", "name": "excel.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.-5109931890171262911", "malop_guid": "11.-5914218308645319479", "elementType": "Process", "name": "excel.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.-2722133863284827576", "malop_guid": "11.-5914218308645319479", "elementType": "Process", "name": "excel.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "1330251008.6611452340247025236", "malop_guid": "11.-5914218308645319479", "elementType": "Process", "name": "excel.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "486890693.465368907620141102", "malop_guid": "11.8209033240500996584", "elementType": "Process", "name": "rundll32.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.4761989581848849726", "malop_guid": "11.8209033240500996584", "elementType": "Process", "name": "rundll32.exe"}
{ "hasMalops" : false, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.-588730327362383282", "malop_guid": "11.5851990856656247541", "elementType": "File", "name": "9b66.tmp"}
{ "hasMalops" : false, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "486890693.5828532540662321850", "malop_guid": "11.5851990856656247541", "elementType": "File", "name": "825b.tmp"}
{ "hasMalops" : false, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "486890693.2573096280189866433", "malop_guid": "11.-3037856372579256437", "elementType": "Module", "name": "027cc450ef5f8c5f653329641ec1fed91f694e0d229928963b30f6b0d7d3a745.dll"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "486890693.-2470340060035834367", "malop_guid": "11.-8833234485934731393", "elementType": "Process", "name": "dga.exe"}
{ "hasMalops" : false, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.-7991839208601381884", "malop_guid": "11.-4473609945962743078", "elementType": "File", "name": "0fdb1969f4b152d1d1219fece003ad7e202d984c926a99ec8b8709581aa2eeb8.exe"}
{ "hasMalops" : false, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "486890693.-7991839208601381884", "malop_guid": "11.-4473609945962743078", "elementType": "File", "name": "0fdb1969f4b152d1d1219fece003ad7e202d984c926a99ec8b8709581aa2eeb8.exe"}
{ "hasMalops" : false, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.-8742478011538742306", "malop_guid": "11.3182324239381364310", "elementType": "Process", "name": "notepad.exe"}
{ "hasMalops" : false, "timestamp": "__time_token__000", "hasSuspicions": false, "guid": "-994969072.1360305440168017987", "malop_guid": "11.3182324239381364310", "elementType": "Process", "name": "notepad.exe"}
{ "hasMalops" : false, "timestamp": "__time_token__000", "hasSuspicions": false, "guid": "-994969072.-4608607803511191149", "malop_guid": "11.3182324239381364310", "elementType": "Process", "name": "notepad.exe"}
{ "hasMalops" : false, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.1037272879796340340", "malop_guid": "11.3182324239381364310", "elementType": "Process", "name": "notepad.exe"}
{ "hasMalops" : false, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.1157381890894618133", "malop_guid": "11.3182324239381364310", "elementType": "Process", "name": "notepad.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.-8656506368028224947", "malop_guid": "11.5841864995289467034", "elementType": "Process", "name": "excel.exe"}
{ "hasMalops" : false, "timestamp": "__time_token__000", "hasSuspicions": false, "guid": "-994969072.1101390716968088399", "malop_guid": "11.-1879009716753931357", "elementType": "Process", "name": "notepad.exe"}