{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "468493598.8843319212482369982", "malop_guid": "11.-8126442534644752497", "elementType": "Process", "name": "maliciousdomainconnect.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "296476205.-6511060510025292061", "malop_guid": "11.-8126442534644752497", "elementType": "Process", "name": "maliciousdomainconnect.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "296476205.-4370106218031807622", "malop_guid": "11.8816125625950171232", "elementType": "Process", "name": "winps.dll (chain of injections)"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "468493598.-8540306375383906508", "malop_guid": "11.8816125625950171232", "elementType": "Process", "name": "winps.dll (chain of injections)"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "296476205.4341896915608122179", "malop_guid": "11.3026550392386231605", "elementType": "Process", "name": "wincalc.dll (chain of injections)"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "468493598.-288719080979277315", "malop_guid": "11.3026550392386231605", "elementType": "Process", "name": "wincalc.dll (chain of injections)"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "468493598.-1254998582944357413", "malop_guid": "11.-856150395850893399", "elementType": "Process", "name": "dga.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "296476205.-5229043624339949340", "malop_guid": "11.-856150395850893399", "elementType": "Process", "name": "dga.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "296476205.118955567069840128", "malop_guid": "11.8125117048716106699", "elementType": "Process", "name": "winnote.dll (injectionll.exe &gt; notepad.exe)"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "468493598.-4832395026354994709", "malop_guid": "11.8125117048716106699", "elementType": "Process", "name": "winnote.dll (injectionll.exe &gt; notepad.exe)"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-1256852539.6309392858512316568", "malop_guid": "11.4574499614715294941", "elementType": "Process", "name": "cmd.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-1256852539.-3360377044990805980", "malop_guid": "11.4574499614715294941", "elementType": "Process", "name": "cmd.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-1256852539.211158085212111449", "malop_guid": "11.4574499614715294941", "elementType": "Process", "name": "cmd.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "486890693.-8884170218767115385", "malop_guid": "11.4574499614715294941", "elementType": "Process", "name": "cmd.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "486890693.-7732148303035289030", "malop_guid": "11.4574499614715294941", "elementType": "Process", "name": "cmd.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "486890693.-7719501621780749093", "malop_guid": "11.4574499614715294941", "elementType": "Process", "name": "cmd.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "1330251008.-7094929968832897521", "malop_guid": "11.-4578339723083787564", "elementType": "Process", "name": "injected (powershell.exe &gt; firefox.exe)"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.-5478508032358612019", "malop_guid": "11.-4578339723083787564", "elementType": "Process", "name": "injected (powershell.exe &gt; firefox.exe)"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "1330251008.78251349646410731", "malop_guid": "11.-4578339723083787564", "elementType": "Process", "name": "injected (powershell.exe &gt; firefox.exe)"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.3395761715581854806", "malop_guid": "11.-4578339723083787564", "elementType": "Process", "name": "injected (powershell.exe &gt; firefox.exe)"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.7583795750668334318", "malop_guid": "11.-4578339723083787564", "elementType": "Process", "name": "injected (powershell.exe &gt; firefox.exe)"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "1330251008.6919947175236569739", "malop_guid": "11.-4578339723083787564", "elementType": "Process", "name": "injected (powershell.exe &gt; firefox.exe)"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-1256852539.4768783181540602198", "malop_guid": "11.8014382457830989680", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-1256852539.-7891917031673818991", "malop_guid": "11.8014382457830989680", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-1256852539.-1902251084638256830", "malop_guid": "11.8014382457830989680", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "1330251008.-193396227977738890", "malop_guid": "11.2077595577554015960", "elementType": "Process", "name": "cmd.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "1330251008.6704021269006941150", "malop_guid": "11.2077595577554015960", "elementType": "Process", "name": "cmd.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "1330251008.-3834902335961127156", "malop_guid": "11.2077595577554015960", "elementType": "Process", "name": "cmd.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.6051172901940363652", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.-4406445977492534079", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-1256852539.-2492371746427221371", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.-2808381394246607572", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "1330251008.-2556976028468467638", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "486890693.5641306892866070025", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "468493598.-6701134821657834722", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "1330251008.-5865774251636410262", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "1330251008.-6257485270856591358", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.-6496903833511317163", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.6261335109859439556", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.-1517391405669432868", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "486890693.-4680609326592606793", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.-236608399135735662", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-1256852539.-7715663193676919267", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-1256852539.-2851318259949367091", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.4017840807468896366", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.6581015265532807250", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-1256852539.6780364127246632099", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-994969072.-247608141546934228", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "486890693.-3297620648590778138", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}
{ "hasMalops" : true, "timestamp": "__time_token__000", "hasSuspicions": true, "guid": "-1256852539.1874322806556559043", "malop_guid": "11.8371241992421952627", "elementType": "Process", "name": "powershell.exe"}